<div class="scrollytelling">
    {{!-- <input class="slider" id="myRange"> --}}
    {{!-- <div id='slider-range'></div> --}}
    {{!-- <div id="chart-change" class='chart'></div>

    <div class='steps'>
        <div class='step' id='step1'>
            <p>STEP1 tktktktkktktktktktktkt</p>
        </div>
        <div class='step' id='step2'>
            <p>step2</p>

            <p class='note'></p>
        </div>
        <div class='step' id='step3'>
            <p>TExt goes here tktktktkktktktktktktkt</p>

            <p>tktktktkktktktktktktkt</p>
        </div>
        <div class='step' id='step4'>
            <p>Each of these 29 districts increased its diversion rate, and most are altogether throwing away less.</p>
        </div>

    </div> --}}
     <div id="chart-change1" class='chart'></div>
</div>

{{!-- <script src="scripts/map.js"></script> --}}
<script src="scripts/small-multiples.js"></script>

<script src='scripts/scrollytelling.js'></script>

<link rel="stylesheet" type="text/css" href="styles/scrollytelling.css">